.table{
    border: 0.5px solid black;
    margin-top: 25px;
}
.table tbody tr:nth-child(even){
    background-color: #3787e6;
    color: whitesmoke;
    font-weight: bold;
}
.table tbody tr:nth-child(odd){
    font-weight: bold;
}

.tableHead tr{
    background-color: #3787e6;
    color: whitesmoke;
}