/* footer section*/
.footer_section {
    position: relative;
    background-color: #252525;
    text-align: center;
  }
  
  .footer_section p {
    color: #ffffff;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section p a {
    color: inherit;
  }